.App hr {
  border: 2px solid #f3f4f6;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.App {
  max-width: 700px;
  border: 2px solid #44555f;
  padding: 25px;
  margin-top: 20px;
  background: #dfe0e7;
  font-family: "Baloo Tamma 2", cursive;
  color: #44555f;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}
