.Search .form-control {
  font-size: 30px;
}

.Search .change-city-button,
.current-location-button {
  font-size: 30px;
  width: 56px;
  border: solid 1px rgb(206, 212, 218);
  height: 59px;
  background-color: #989aa3;
}

.Search .change-city-button:hover,
.current-location-button:hover {
  background-color: #656875;
}

.Search .button-icon {
  justify-content: center;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0.85rem 0.75rem;
}
