.UnitSelector .unit-buttons .unit-button {
  font-size: 30px;
  margin-top: 20px;
  width: 320px;
  margin-bottom: 20px;
  background-color: #f3f4f6;
  border: 3px solid #f3f4f6;
  border-radius: 4px;
  color: #545866;
}

.UnitSelector .unit-buttons .unit-button.active {
  background-color: #88abbe;
  border: 3px solid #88abbe;
  color: #f3f4f6;
  cursor: default;
}
