.UnitSelector .celsius-button,
.fahrenheit-button {
  font-size: 30px;
  margin-top: 20px;
  width: 320px;
}

.UnitSelector .unit-buttons .active {
  background-color: #88abbe;
  border: 3px solid #88abbe;
  border-radius: 4px;
  color: #f3f4f6;
  cursor: default;
}

.UnitSelector .unit-buttons .secondary {
  background-color: #f3f4f6;
  border: 3px solid #f3f4f6;
  border-radius: 4px;
  color: #545866;
}
