.WeatherInfo .current-city {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
}

.WeatherInfo .current-weather {
  font-size: 70px;
  font-weight: bold;
  max-height: 150px;
}

.WeatherInfo .current-date {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.WeatherInfo .current-temp {
  display: inline;
  position: absolute;
  margin-top: 15px;
  padding-left: 25px;
}

.WeatherInfo .current-description {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.WeatherInfo .current-description:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .hum-wind-max {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.WeatherInfo .humidity,
.wind,
.maximum {
  font-size: 25px;
  padding-left: 30px;
}

.WeatherInfo small {
  font-size: 20px;
  color: #7c888f;
}

.WeatherInfo h3.humidity,
h3.wind,
h3.maximum {
  padding-left: 0;
}
