.Weather .input-group {
  padding: 0;
}

.Weather .form-control {
  font-size: 30px;
}

@media (max-width: 575.98px) {
  .Weather .form-control {
    font-size: 20px;
  }
}

.Weather .change-city-button,
.current-location-button {
  font-size: 30px;
  width: 56px;
  border: solid 1px rgb(206, 212, 218);
  height: 59px;
  background-color: #989aa3;
}

@media (max-width: 575.98px) {
  .Weather .change-city-button,
  .current-location-button {
    width: 44px;
    height: 44px;
  }
}

.Weather .change-city-button:hover,
.current-location-button:hover {
  background-color: #656875;
}

.Weather .button-icon {
  justify-content: center;
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 0.85rem 0.75rem;
}
